<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SolarNetwork Template</title>
    <!-- Evident's SolarNetwork template engine -->
    <script src="https://s3-ap-southeast-2.amazonaws.com/evident-solarnetwork-web/template/template-1.1.js"></script>
    <!-- SolarNetwork config -->
    <data-config node="253" token="!9C13cML#YEl(H+dLyF!" secret="+Rikp)utzoMG+@hh<6K`2%"/>
    <style media="screen">
      body { font-family: Arial; }
      span { display: block; width: 200px; float: left; }
      data { float: left; margin-right: 5px; font-weight: bold; }
    </style>
  </head>
  <body>
    <h1>Zero energy house</h1>

    <h3>current energy use</h3>

    <span>Consumption</span>
    <data source="/ZEHNZ/ME/1" metric="actual" adjust="i*1000" update="10s">...</data> W <br>

    <span>Generation</span>
    <data source="/ZEHNZ/me/2" metric="actual" adjust="i*1000" update="10s">...</data> W <br>

    <span>Exporting</span>
    <data source="/ZEHNZ/ME/1,/ZEHNZ/me/2" metric="actual" modify="var x=i[1]-i[0];x>0?x:0" adjust="i*1000" update="10s">...</data> W <br>

    <span>Importing</span>
    <data source="/ZEHNZ/ME/1,/ZEHNZ/me/2" metric="actual" modify="var x=i[0]-i[1];x>0?x:0" adjust="i*1000" update="10s">...</data> W <br>

    <span>Powered by solar</span>
    <data source="/ZEHNZ/ME/1,/ZEHNZ/me/2" metric="actual" modify="var x=(100/i[0])*i[1];x>0?(x<100?x:100):0" update="10s">...</data> % <br>

    <span>Solar Radiation</span>
    <data source="/ZEHNZ/sw/1" metric="value" update="10s">...</data> W/m<sup>2</sup> <br>

    <h3>Temperature</h3>

    <span>Outside</span>
    <data source="/ZEHNZ/sw/2" metric="value" update="10s" round="1">...</data> °C <br>

    <span>Bathroom</span>
    <data source="/ZEHNZ/str/2" metric="value" update="10s" round="1">...</data> °C <br>

    <span>Lounge</span>
    <data source="/ZEHNZ/str/3" metric="value" update="10s" round="1">...</data> °C <br>

    <h3>current energy use</h3>

    <span>Monitoring System</span>
    <data source="/ZEHNZ/me/1/1" metric="actual" update="10s">...</data> kW <br>

    <span>Shower hot water</span>
    <data source="/ZEHNZ/me/1/2" metric="actual" update="10s">...</data> kW <br>

    <span>Fridge</span>
    <data source="/ZEHNZ/me/1/3" metric="actual" update="10s">...</data> kW <br>

    <span>Lighting</span>
    <data source="/ZEHNZ/me/1/4" metric="actual" update="10s">...</data> kW <br>

    <span>Fans and towel rails</span>
    <data source="/ZEHNZ/me/1/5" metric="actual" update="10s">...</data> kW <br>

    <span>Plug outlets</span>
    <data source="/ZEHNZ/me/1/6" metric="actual" update="10s">...</data> kW <br>

    <span>Rain and greywater pumps</span>
    <data source="/ZEHNZ/me/1/7" metric="actual" update="10s">...</data> kW <br>

    <span>Oven and hobs</span>
    <data source="/ZEHNZ/me/1/8" metric="actual" update="10s">...</data> kW <br>

    <span>Hot water cylinder</span>
    <data source="/ZEHNZ/me/1/9" metric="actual" update="10s">...</data> kW <br>

    <span>Total consumption</span>
    <data source="/ZEHNZ/ME/1" metric="actual" update="10s">...</data> kW <br>

    <span>Total generation</span>
    <data source="/ZEHNZ/me/2" metric="actual" update="10s">...</data> kW <br>



    <h3>yesterday's energy use</h3>

    <span>Monitoring System</span>
    <data source="/ZEHNZ/me/1/1" metric="total" day="-1">...</data> kWh <br>

    <span>Shower hot water</span>
    <data source="/ZEHNZ/me/1/2" metric="total" day="-1">...</data> kWh <br>

    <span>Fridge</span>
    <data source="/ZEHNZ/me/1/3" metric="total" day="-1">...</data> kWh <br>

    <span>Lighting</span>
    <data source="/ZEHNZ/me/1/4" metric="total" day="-1">...</data> kWh <br>

    <span>Fans and towel rails</span>
    <data source="/ZEHNZ/me/1/5" metric="total" day="-1">...</data> kWh <br>

    <span>Plug outlets</span>
    <data source="/ZEHNZ/me/1/6" metric="total" day="-1">...</data> kWh <br>

    <span>Rain and greywater pumps</span>
    <data source="/ZEHNZ/me/1/7" metric="total" day="-1">...</data> kWh <br>

    <span>Oven and hobs</span>
    <data source="/ZEHNZ/me/1/8" metric="total" day="-1">...</data> kWh <br>

    <span>Hot water cylinder</span>
    <data source="/ZEHNZ/me/1/9" metric="total" day="-1">...</data> kWh <br>

    <span>Total consumption</span>
    <data source="/ZEHNZ/ME/1" metric="total" day="-1">...</data> kWh <br>

    <span>Total generation</span>
    <data source="/ZEHNZ/me/2" metric="total" day="-1">...</data> kWh <br>

    <!--
    <data source="/ZEHNZ/me/1/3" metric="total" minute="-1" period="1h"></data><br>
    <data source="/ZEHNZ/me/1/3" metric="total" hour="-1"></data><br>
    <data source="/ZEHNZ/me/1/3" metric="total" day="-1"></data><br>
    <data source="/ZEHNZ/me/1/3" metric="total" day="-7" period="8d"></data><br>
    <data source="/ZEHNZ/me/1/3" metric="total" month="-1"></data><br>
    <data source="/ZEHNZ/me/1/3" metric="total" year="-1" month="2"></data><br>
    <data source="/ZEHNZ/me/1/3" metric="total" update="3s"></data><br>
    <data source="/ZEHNZ/me/1/2" metric="total" update="5s"></data><br>
    -->

  </body>

</html>
