html, body {
  font-family: Arial;
}

.value-block {
  width: 200px;
  height: 100px;
  padding: 10px;
  float: left;
}

.value-block h3 {
  width: 100%;
  text-align: center;
}

.value-block p {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

chart-energy, chart-line, chart-bar, chart-pie {
  clear: both;
}
